h1{
    font-size: 50px;
    text-align: center;
    color:#eadbdb;
    font-family: "Lucida Console", "Courier New", monospace;
}
.todo-item{
    background-color:#ffff;
    box-shadow: 0 2px 5px rgba(0,0,0,.1);
    align-self: stretch;
    padding: 15px 15px;
    border: 0.5px solid #e7e7e7;
}
.name{
    font-size: 12px;
}
input[type="checkbox"]{
    margin-right: 15px;

}
input[type="text"] {
    padding: 0;
    border:none;
    outline: none;
    width: 100%;
    height: 100%;
    color:#636363;

}
.todo-input{
    align-self: stretch;
    display: flex;
    padding: 15px 0;
    border: 1px solid #e7e7e7;

}
.container{
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 500px;
    background-color:#ffff;
    box-shadow: 0 2px 5px rgba(0,0,0,.1);
}
.iconSvg{
    width: 20px;
    height: 20px;
    margin: 0 12px;
}
::placeholder{
    color:#e7e7e7;
}
.todo-panel{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 15px 0;
    font-size: 12px;
}
.todo-panel > span {
    margin-left: 12px;
    padding: 5px;
}
.inner_buttons > button {
    padding: 5px;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    margin-left: 12px;
}
.todo-panel > button {
    padding: 5px;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    margin-right: 12px;
}
button.active{
    border: 1px solid #eadbdb;
}